In [22]:
import pandas as pd
import os
path2 = os.path.join("raw_data","election_data_2.csv")
election2 = pd.read_csv(path2)
election2.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [23]:
count_votes2 = election2["Voter ID"].count()

count_votes2

3521001

In [24]:
candidates2 = election2["Candidate"].unique()
candidates2

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [25]:
votes_2 = election2["Candidate"].value_counts()
votes_2

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64